@page "/"
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject IUserData userData
@inject ITeamData teamData
@inject IGameData gameData
@inject IGameService gameService
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Notifications

<PageTitle>Home</PageTitle>

    <div style="width:75%;margin: 0 auto;">
        <SfGrid DataSource="@games?.OrderBy(g => g.DateTime)">
            <GridColumns>
                <GridColumn Width="80"
                        HeaderText="Date"
                        TextAlign="TextAlign.Center">
                </GridColumn>
                <GridColumn Width="200"
                            HeaderText="Away/Home"
                            TextAlign="TextAlign.Center">
                </GridColumn>
                <GridColumn HeaderText="Point Spread"
                            TextAlign="TextAlign.Center">
                </GridColumn>
                <GridColumn HeaderText="Moneyline" 
                            TextAlign="TextAlign.Center">
                </GridColumn>
                <GridColumn HeaderText="Over/Under"
                            TextAlign="TextAlign.Center">
                </GridColumn>
                <GridColumn Width="80"
                            HeaderText="Other"
                            TextAlign="TextAlign.Center">
                </GridColumn>
            </GridColumns>
            <GridTemplates>
                <RowTemplate>
                    @{
                        var game = (context as Game);
                                    @if (game?.HasStarted == false)
                        {
                                        <td class="cell" style="text-align:center;">
                                            <div style="padding: .5em .5em;">
                                                <strong>@game?.Date.ToString("M-d")</strong>
                                            </div>
                                            <div style="padding:.5em .5em;">
                                                <strong>@game?.Date.ToString("h:mm")</strong>
                                            </div>
                                        </td>
                                        <td class="cell" style="text-align:center;">
                                            <div class="teams">
                                                <div style="padding: .5em .5em;border-bottom: 1px solid lightgrey;">
                                                    <img class="team-icon-top-row" src="@string.Concat($"images/{game?.AwayTeam.ToLower()}", ".svg")" /> <strong class="team-name">@game?.AwayTeam</strong>
                                                </div>
                                                <div style="padding:.5em .5em;">
                                                    <strong class="at-sign">@@</strong><img class="team-icon-bottom-row" src="@string.Concat($"images/{game?.HomeTeam.ToLower()}", ".svg")" /> <strong class="team-name">@game?.HomeTeam</strong>
                                                </div>
                                            </div>

                                        </td>
                                        <td class="cell">

                                            @if (gamesAndWinnersForPointSpreadDictionary.ContainsKey(game!.AwayTeam))
                                {
                                                <div @onclick="(() => RemoveWinnerAndGameForPointSpread(game!.AwayTeam))" class="clickable-cell-active">
                                                    <div style="display:flex;justify-content:space-evenly;">
                                                        <strong style="margin-right:.5em;">@GetPointSpreadForAwayTeam(game?.PointSpread)</strong>
                                                        <strong>@GetMoneyLine(game?.PointSpreadAwayTeamMoneyLine)</strong>
                                                    </div>
                                                </div>
                                            
                                }

                                else
                                {
                                                <div @onclick="(() => SelectWinnerAndGameForPointSpread(game!.AwayTeam, game))" class="clickable-cell">
                                                    <div style="display:flex;justify-content:space-evenly;">
                                                        <strong style="margin-right:.5em;">@GetPointSpreadForAwayTeam(game?.PointSpread)</strong>
                                                        <strong>@GetMoneyLine(game?.PointSpreadAwayTeamMoneyLine)</strong>
                                                    </div>
                                                </div>
                                }
                                                                                                    
                                            @if(gamesAndWinnersForPointSpreadDictionary.ContainsKey(game!.HomeTeam))
                                {
                                                <div @onclick="(() => RemoveWinnerAndGameForPointSpread(game!.HomeTeam))" class="clickable-cell-active">
                                                    <div style="display:flex;justify-content:space-evenly;">
                                                        <strong style="margin-right:.5em;">@GetPointSpreadForHomeTeam(game?.PointSpread)</strong>
                                                        <strong>@GetMoneyLine(game?.PointSpreadHomeTeamMoneyLine)</strong>
                                                    </div>
                                                </div>
                                }

                                else
                                {
                                                <div @onclick="(() => SelectWinnerAndGameForPointSpread(game!.HomeTeam, game))" class="clickable-cell">
                                                    <div style="display:flex;justify-content:space-evenly;">
                                                        <strong style="margin-right:.5em;">@GetPointSpreadForHomeTeam(game?.PointSpread)</strong>
                                                        <strong>@GetMoneyLine(game?.PointSpreadHomeTeamMoneyLine)</strong>
                                                    </div>
                                                </div>
                                }
                                                                                                
                                        </td>
                                        <td class="cell" style="text-align:center;">

                                            @if (gamesAndWinnersForMoneylineDictionary.ContainsKey(game!.AwayTeam))
                                {
                                                <div @onclick="(() => RemoveWinnerAndGameForMoneyline(game!.AwayTeam))" class="clickable-cell-active">
                                                    <strong>@GetMoneyLine(game?.AwayTeamMoneyLine)</strong>
                                                </div>
                                }

                                else
                                {
                                                <div @onclick="(() => SelectWinnerAndGameForMoneyline(game!.AwayTeam, game))" class="clickable-cell">
                                                    <strong>@GetMoneyLine(game?.AwayTeamMoneyLine)</strong>
                                                </div>
                                }

                                            @if (gamesAndWinnersForMoneylineDictionary.ContainsKey(game!.HomeTeam))
                                {
                                                <div @onclick="(() => RemoveWinnerAndGameForMoneyline(game!.HomeTeam))" class="clickable-cell-active">
                                                    <strong>@GetMoneyLine(game?.HomeTeamMoneyLine)</strong>
                                                </div>
                                }

                                else
                                {
                                                <div @onclick="(() => SelectWinnerAndGameForMoneyline(game!.HomeTeam, game))" class="clickable-cell">
                                                    <strong>@GetMoneyLine(game?.HomeTeamMoneyLine)</strong>
                                                </div>
                                }

                                        </td>
                                        <td class="cell">

                                            @if (gamesAndWinnersForOverUnderDictionary.ContainsKey(string.Concat(OverUnder.OVER.ToStringFast(), game?.ScoreID.ToString())))
                                {
                                <div @onclick="(() => RemoveWinnerAndGameForOverUnder(OverUnder.OVER.ToStringFast() + game?.ScoreID.ToString()))" class="clickable-cell-active">
                                                    <div style="display:flex;justify-content:space-evenly;">
                                                        <strong>Over @game?.OverUnder</strong>
                                                        <strong>@GetMoneyLine(@game?.OverPayout)</strong>
                                                    </div>
                                                </div>
                                }

                                else
                                {
                                <div @onclick="(() => SelectWinnerAndGameForOverUnder(string.Concat(OverUnder.OVER.ToStringFast(), game?.ScoreID.ToString()), game!))" class="clickable-cell">
                                                    <div style="display:flex;justify-content:space-evenly;">
                                                        <strong>Over @game?.OverUnder</strong>
                                                        <strong>@GetMoneyLine(@game?.OverPayout)</strong>
                                                    </div>
                                                </div>
                                }

                            @if (gamesAndWinnersForOverUnderDictionary.ContainsKey(string.Concat(OverUnder.UNDER.ToStringFast(), game?.ScoreID.ToString())))
                                {
                                                <div @onclick="(() => RemoveWinnerAndGameForOverUnder(string.Concat(OverUnder.UNDER.ToString(), game?.ScoreID.ToString())))" class="clickable-cell-active">
                                                    <div style="display:flex;justify-content:space-evenly;">
                                                        <strong>Under @game?.OverUnder</strong>
                                                        <strong>@GetMoneyLine(game?.UnderPayout)</strong>
                                                    </div>
                                                </div>
                                }

                                else
                                {
                                <div @onclick="(() => SelectWinnerAndGameForOverUnder(string.Concat(OverUnder.UNDER.ToStringFast(), game?.ScoreID.ToString()), game!))" class="clickable-cell">
                                                    <div style="display:flex;justify-content:space-evenly;">
                                                        <strong>Under @game?.OverUnder</strong>
                                                        <strong>@GetMoneyLine(game?.UnderPayout)</strong>
                                                    </div>
                                                </div>
                                }

                                        </td>
                                        <td class="cell">
                                            <div class="other-button">
                                                <strong>Other Wagers</strong>
                                            </div>
                                        </td>
                        }
                    }
                </RowTemplate>
            </GridTemplates>
        </SfGrid>
    </div>


<style>

    .clickable-cell {
        padding: .65em .65em;
        border: 1px solid lightgrey;
        background-color: palegreen;
    }

        .clickable-cell:hover {
            cursor:pointer;
            background-color: rgb(152, 251, 152, .5);
        }

    .clickable-cell-active {
        padding: .65em .65em;
        border: 1px solid lightgrey;
        background-color: rgb(255,99,71);
    }

        .clickable-cell-active:hover {
            cursor: pointer;
            background-color: rgb(255,99,71, .5);
        }
    

    .cell {
        border-bottom: 1px solid black;
        font-size:11px;
    }

    .other-button {

        padding: 1.25em 1.25em;
        border: 1px solid lightgrey;
        border-right:4px solid white;
        background-color: palegreen;
        text-align: center;
    }

        .other-button:hover {
            background-color: rgb(152, 251, 152, .5);
            cursor: pointer;
        }

    .teams {
        
    }

        .teams:hover {
            background-color: rgb(211,211,211, .9);
            cursor: pointer;
        }
    
    .team-name {
        font-size:11px;
    }

    .team-icon-top-row {
        height: 25px;
        margin-right: .5em;
        margin-left: 1.25em;
    }

    .team-icon-bottom-row {
        height: 25px;
        margin-right: .5em;
    }

    .at-sign {
        margin-right: .5em;
        font-size: 13px;
    }

    .e-headercell {
        font-family: "Bell MT";
        color: darkgreen;
    }

</style>

@code {
    SfToast? ToastObj;
    Game[]? games;
    int week;
    SeasonType season;
    private readonly PeriodicTimer _timer = new(TimeSpan.FromMinutes(5));
    Dictionary<string, Game> gamesAndWinnersForPointSpreadDictionary = new();
    Dictionary<string, Game> gamesAndWinnersForMoneylineDictionary = new();
    Dictionary<string, Game> gamesAndWinnersForOverUnderDictionary = new();


    protected override async Task OnInitializedAsync()
    {
        games = await gameService.GetGamesByWeek(SeasonType.PRE, 3);
        season = DateTime.Now.CalculateSeason();
        week = season.CalculateWeek(DateTime.Now);
    }

    private void SelectWinnerAndGameForPointSpread(string winner, Game game)
    {
        if (gamesAndWinnersForPointSpreadDictionary.ContainsKey(winner))
            return;

        gamesAndWinnersForPointSpreadDictionary.Add(winner, game);
        this.ToastObj?.ShowAsync();
    }

    private void RemoveWinnerAndGameForPointSpread(string winner)
    {
        if (!gamesAndWinnersForPointSpreadDictionary.ContainsKey(winner))
            return;

        gamesAndWinnersForPointSpreadDictionary.Remove(winner);
    }

    private void SelectWinnerAndGameForMoneyline(string winner, Game game)
    {
        if (gamesAndWinnersForMoneylineDictionary.ContainsKey(winner))
            return;

        gamesAndWinnersForMoneylineDictionary.Add(winner, game);
    }

    private void RemoveWinnerAndGameForMoneyline(string winner)
    {
        if (!gamesAndWinnersForMoneylineDictionary.ContainsKey(winner))
            return;

        gamesAndWinnersForMoneylineDictionary.Remove(winner);
    }

    private void SelectWinnerAndGameForOverUnder(string overUnderAndScoreId, Game game)
    {
        if (gamesAndWinnersForOverUnderDictionary.ContainsKey(overUnderAndScoreId))
            return;

        gamesAndWinnersForOverUnderDictionary.Add(overUnderAndScoreId, game);
    }

    private void RemoveWinnerAndGameForOverUnder(string overUnderAndScoreId)
    {
        if (!gamesAndWinnersForOverUnderDictionary.ContainsKey(overUnderAndScoreId))
            return;

        gamesAndWinnersForOverUnderDictionary.Remove(overUnderAndScoreId);
    }


    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender) await StartGameUpdateLoop();
    //}

    private async Task StartGameUpdateLoop()
    {
        int index = 1;

        while (await _timer.WaitForNextTickAsync())
        {
            season = DateTime.Now.CalculateSeason();
            week = season.CalculateWeek(DateTime.Now);
            games = await gameService.GetGamesByWeek(season, week);
            Console.WriteLine($"Timer trigger count: {index}");
            index++;
        }
    }

    private string GetPointSpreadForAwayTeam(float? pointSpread)
    {
        return pointSpread > 0 ? $"- {pointSpread}" 
               : pointSpread == 0 ? "0" 
               : $"+ {pointSpread?.ToString().Trim('-')}";
    }

    private string GetPointSpreadForHomeTeam(float? pointSpread)
    {
        return pointSpread > 0 ? $"+ {pointSpread}"
               : pointSpread == 0 ? "0"
               : $"- {pointSpread?.ToString().Trim('-')}";
    }

    private string GetMoneyLine(int? moneyline)
    {
        return moneyline > 0 ? $"+ {moneyline}" 
               : $"- {moneyline?.ToString().Trim('-')}";
    }
}
