@inject NavigationManager navManager

<div id="footer" class="footer">
    <div class="logo-copywrite-container mt-4 mb-4 ">
        <div class="trust-logo">
            <img class="trust-image" src="/images/positivessl_trust_seal_lg_222x54.png" alt="team logo">
        </div>
        <div class="i-box">
            <a href="/" class="icon-container-footer">
                <image class="fb-icon-footer" src="/images/fbicon.png" />
                <h3 class="name-footer">Bet Book</h3>
            </a>
            <h6 class="title">@copyright</h6>
            <div class="link-support">
                <a class="link-support-about-footer" href="mailto:support@betbookgaming.com" subject="Support Ticket">support@betbookgaming.com</a>
            </div>
        </div>
    </div>

    <div class="footer-nav-container mb-4 mt-4">

        <div class="nav-title-game-container">

            <h6 class="nav-title">History</h6>
            <div class="footer-link">
                <NavLink href="/SinglesProfilePage" class="game-item-nav footer-game-item">My Single Bets</NavLink>
                <NavLink href="/ParleyProfilePage" class="game-item-nav footer-game-item">My Parley Bets</NavLink>
            </div>

        </div>

        <div class="nav-title-game-container">

            <h6 class="nav-title">About</h6>
            <div class="footer-link">
                <NavLink href="/About" class="game-item-nav footer-game-item">Site Info</NavLink>
            </div>

        </div>

        <div class="nav-title-game-container">

            <h6 class="nav-title">Account</h6>
            <div class="footer-link">
                <NavLink href="/AccountDetails" class="game-item-nav footer-game-item">Account Details</NavLink>
            </div>

        </div>

    </div>

    <div style="border-top: 2px solid white;margin: 0 4em;" class="d-flex justify-content-center pb-4 pt-4">
        <ul class="wrapper">
            <li @onclick="@(() => navManager.NavigateTo("https://facebook.com"))" class="icon facebook">
                <span class="tooltip">Facebook</span>
                <span><i class="fab fa-facebook-f"></i></span>
            </li>
            <li @onclick="@(() => navManager.NavigateTo("https://twitter.com"))" class="icon twitter">
                <span class="tooltip">Twitter</span>
                <span><i class="fab fa-twitter"></i></span>
            </li>
            <li @onclick="@(() => navManager.NavigateTo("https://instagram.com"))" class="icon instagram">
                <span class="tooltip">Instagram</span>
                <span><i class="fab fa-instagram"></i></span>
            </li>
            <li @onclick="@(() => navManager.NavigateTo("https://github.com/WilliamMcRoberts/BetBookV2.BlazorServer"))" class="icon github">
                <span class="tooltip">Github</span>
                <span><i class="fab fa-github"></i></span>
            </li>
            <li @onclick="@(() => navManager.NavigateTo("https://youtube.com"))" class="icon youtube">
                <span class="tooltip">Youtube</span>
                <span><i class="fab fa-youtube"></i></span>
            </li>
        </ul>
    </div>

   

</div>

<style>
    .wrapper {
        display: inline-flex;
        list-style: none;
        margin-right: 1.5em;
    }

        .wrapper .icon {
            position: relative;
            background: #ffffff;
            border-radius: 50%;
            padding: 15px;
            margin: 10px;
            width: 50px;
            height: 50px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        .wrapper .tooltip {
            position: absolute;
            top: 0;
            font-size: 14px;
            background: #ffffff;
            color: #ffffff;
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

            .wrapper .tooltip::before {
                position: absolute;
                content: "";
                height: 8px;
                width: 8px;
                background: #ffffff;
                bottom: -3px;
                left: 50%;
                transform: translate(-50%) rotate(45deg);
                transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

        .wrapper .icon:hover .tooltip {
            top: -45px;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        .wrapper .icon:hover span,
        .wrapper .icon:hover .tooltip {
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
        }

        .wrapper .facebook:hover,
        .wrapper .facebook:hover .tooltip,
        .wrapper .facebook:hover .tooltip::before {
            background: #1877F2;
            color: #ffffff;
        }

        .wrapper .twitter:hover,
        .wrapper .twitter:hover .tooltip,
        .wrapper .twitter:hover .tooltip::before {
            background: #1DA1F2;
            color: #ffffff;
        }

        .wrapper .instagram:hover,
        .wrapper .instagram:hover .tooltip,
        .wrapper .instagram:hover .tooltip::before {
            background: #E4405F;
            color: #ffffff;
        }

        .wrapper .github:hover,
        .wrapper .github:hover .tooltip,
        .wrapper .github:hover .tooltip::before {
            background: #333333;
            color: #ffffff;
        }

        .wrapper .youtube:hover,
        .wrapper .youtube:hover .tooltip,
        .wrapper .youtube:hover .tooltip::before {
            background: #CD201F;
            color: #ffffff;
        }

    .footer-game-item {
        list-style-type: none;
        margin-top: .25em;
        margin-bottom: .25em;
    }

    .game-item-nav {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
    }

    .game-item-nav:hover {
        text-decoration: none;
        color: #fff;
            text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 4px #000, 0 0 5px #000, 0 0 6px #000, 0 0 7px #000, 0 0 8px #000, 0 0 9px #000;
        }

    .nav-title {
        font-size: 25px;
        line-height: 0.70em;
        outline: none;
        animation: animateLabel 30s linear infinite;
        position: relative;
        background: none;
        border: none;
        display: flex;
        letter-spacing: 0.9px;
        width: fit-content;
        font-weight: 900;
        text-decoration: underline;
    }

    .footer-link {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }

    .nav-title-game-container {
    }

    .footer-nav-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 2em;
        margin: 0 auto;
    }

    .link-support-about-footer {
        background-image: linear-gradient(180deg, #fff, #00008b);
        text-decoration: none;
        font-weight: 900;
        background-size: 0% 6px;
        background-repeat: no-repeat;
        background-position: left bottom;
        color: darkblue;
        transition: 300ms ease;
        text-shadow: 0 0 10px #fff;
        text-align:center;
    }

        .link-support-about-footer:hover {
            background-size: 100% 6px;
            color: #00008b;
        }

    .name-footer {
        font-size: 2rem;
        letter-spacing: 0.9px;
        line-height: 0.70em;
        outline: none;
        animation: animateLogo 10s linear infinite;
        position: relative;
        width: fit-content;
        font-weight: 900;
        margin-top: .15em;
    }

    .fb-icon-footer {
        height: 35px;
        margin-right: .25em;
    }

    .icon-container-footer:hover {
        -webkit-animation: bounce 1.5s ease;
        animation: bounce 1.5s ease;
    }

    .icon-container-footer {
        display: flex;
        text-decoration: none;
        justify-content: center;
        margin-bottom: .5em;
        
    }

    .icon-container-footer:hover {
        -webkit-animation: bounce 1.5s ease;
        animation: bounce 1.5s ease;
    }

    .trust-logo {
        width: auto;
        margin-top: 1em;
    }

    .footer {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.5);
        backdrop-filter: blur(10px);
        width: 100%;
        border-top: 4px solid #000;
        margin-top: 200px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logo-copywrite-container {
        display: flex;
        justify-content: space-evenly;
    }

    
    @@media (max-width: 550px) {
        .logo-copywrite-container {
            flex-direction: column;
            justify-content: center;
        }

        .trust-logo {
            margin: 0 auto;
        }

        .link-support {
            text-align: center;
        }

        .icon-container-footer {
            margin-top: .5em;
        }

        .nav-title {
            font-size: 20px;
        }

        .game-item-nav {
            font-size: 15px;
        }

        .wrapper .icon {
    
            width: 45px;
            height: 45px;
   
        }
    }

    @@media (max-width: 325px) {
        

        .nav-title {
            font-size: 18px;
        }

        .game-item-nav {
            font-size: 13px;
        }
    }

</style>

@code {
    string copyright = "\u00a9 Bet Book Gaming";
}
